* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}

svg{
    height: 20px;
    width: 20px;
}

.optionsitem, .options2item{
display: flex;
flex-direction: row;
}

.content{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1992d4;
    width: 20vw;
    color: white;
}

.rightside{
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.header{
    height: 20vh;
    background-color: yellow;
}

.contentcontent{
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.contentleft{
    width: 60vw;
    background-color: #e2e8f0;
    padding: 1.5%;
}

.contentright{
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: #e2e8f0;
}

.announcements{
    display: flex;
    height: 45vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending{
    display: flex;
    height: 35vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardcontainer{
    display: grid;
    grid-template-columns: 48.75% 48.75%;
    grid-template-rows: 20vh 20vh 20vh;
    gap: 25px;
    align-content: center;
    justify-content: center;
}

.card{
    border-radius: 7px;
    border-left: 8px solid #f0b429;
    background-color: white;
    box-shadow: 2px 2px 3px rgb(197, 197, 197);
    position: relative;
}

h2{
    padding-bottom: 20px;
}

.cardicon{
    position: relative;
    top: 120px;
    left: 400px;
}

.cardt, .carda{
    height: 80%;
    width: 80%;
    border-radius: 7px;
    background-color: white;
    box-shadow: 2px 2px 3px rgb(197, 197, 197);   
}